.header {
  position: relative;
  background-color: #ffffff;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
  @media screen and (max-width: 767px) {
    padding: 16px 15px;
  }
}

.site-nav {
  // @extend .header-container;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }
}
.logo-color {
  color: var(--activ-color);
}

.header-list {
  // display: flex;
  // gap: 50px;

  @media screen and (min-width: 768px) {
    display: flex;
    gap: 50px;
  }
}

.mobile-menu__btn {
  // z-index: 10;
  position: absolute;
  top: 10px;
  right: 15px;
  margin-left: auto;
  background-color: transparent;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-menu__close {
  position: absolute;
  top: 10px;
  right: 15px;

  background-color: transparent;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
// .header-nav__mobile {
//   @media screen and (min-width: 768px) {
//     display: none;
//   }
// }

.header-item .link {
  display: block;

  font-weight: 500;
  text-decoration: none;
  color: var(--main-title-color);

  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  // font-size: 14px;
  // line-height: 1.14;

  transition: color 250ms var(--transition-t-f);

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.14;
    padding: 32px 0;
  }
}
.link {
  .header-item &:hover,
  .header-item &:focus {
    color: var(--activ-color);
  }

  .contact-item &:hover,
  .contact-item &:focus {
    color: var(--activ-color);
  }
}

.header-item .link-active {
  color: var(--activ-color);
}
@media screen and (min-width: 768px) {
  .link-active::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    display: block;
    height: 4px;
    width: 100%;
    background-color: var(--activ-color);
    border-radius: 2px;
  }
}
.contact {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 32px;
  }
  @media screen and (min-width: 768px) {
    display: block;
    margin-left: auto;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 50px;
    margin-left: auto;
  }
}

.contact-item .link {
  @extend .header-container;
  gap: 10px;

  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;

  transition: color 250ms var(--transition-t-f);
  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
  }
}
@media screen and (max-width: 767px) {
  .contact-item:last-child .link {
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;

    color: var(--activ-color);
  }
}

.contact-item .link .contact-item:not(:last-child) .link {
  margin-bottom: 10px;
  @media screen and (min-width: 1200px) {
    margin: 0;
  }
}

.mail-icon {
  fill: currentColor;
}

.phone-icon {
  fill: currentColor;
}

.header-item {
  position: relative;
}

.header-menu__mobile {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
  }

  &.is-open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    padding: 48px 40px;
    overflow: auto;

    background-color: #ffffff;
  }

  &.is-open .link {
    padding: 0;
  }
}
.header-menu__mobile.is-open .list:not(:last-child) {
  margin-bottom: 32px;
}
.header-menu__mobile.is-open .contact .list {
  margin-bottom: 0px;
}
.mobile-menu__list {
  display: flex;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.mobile-menu__list .link {
  color: var(--activ-color);
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);
  letter-spacing: 0.02em;
}
.mobile-menu__item {
  padding: 0 10px;
}
.mobile-menu__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
