.hero {
  background-color: #2f303a;
  text-align: center;
  padding: 200px 0;
  @media screen and (max-width: 1199px) {
    padding: 118px 0;
  }
}

.hero-wrap {
  background-image: var(--hero-gradient), url(../images/hero-mobile-480.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  @include retina {
    background-image: var(--hero-gradient), url(../../images/hero-mobile-960.jpg);
  }

  @media screen and (min-width: 480px) {
    background-image: var(--hero-gradient), url(../../images/hero-tablet-768.jpg);
    @include retina {
      background-image: var(--hero-gradient), url(../../images/hero-tablet-1536.jpg);
    }
  }
  @media screen and (min-width: 768px) {
    background-image: var(--hero-gradient), url(../../images/hero-desktop-1600.jpg);
    @include retina {
      background-image: var(--hero-gradient), url(../../images/hero-desktop-3200.jpg);
    }
  }
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-white-color);

  margin-bottom: 40px;
  @media screen and (max-width: 1199px) {
    font-size: 26px;
    line-height: calc(42 / 26);
  }
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  text-align: center;
  color: var(--text-white-color);
  background-color: var(--activ-color);

  display: inline-block;
  padding: 10px 24px;
  border-radius: 4px;
}
