.hero {
  background-color: #2f303a;
  text-align: center;
  padding: 200px 0;
}

.hero-wrap {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  max-width: 1600px;
  margin: 0 auto;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-white-color);

  margin-bottom: 40px;
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  text-align: center;
  color: var(--text-white-color);
  background-color: var(--activ-color);

  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
}
