.peculiarities-list {
  // display: flex;
  // gap: 30px;
}

.peculiarities-item {
  // width: 270px;
  width: 100%;
}

.peculiarities-item-block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;

  background-color: var(--feature-color);
  border-radius: 4px;
}

.peculiarities__title {
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--main-title-color);

  margin-bottom: 10px;
}

.peculiarities-text {
  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--discription-color);
}

@media screen and (max-width: 479px) {
  .peculiarities {
    max-width: 479px;
  }
}
@media screen and (min-width: 480px) {
  .peculiarities {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
