.portfolio-title {
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  color: var(--main-title-color);
}

.portfolio-filter {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  background-color: #f5f4fa;

  padding: 6px 22px;
  border-radius: 4px;
  transition: background-color 250ms var(--transition-t-f), color 250ms var(--transition-t-f),
    box-shadow 250ms var(--transition-t-f);

  &:hover,
  &:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    color: var(--text-white-color);
    background-color: var(--activ-color);
  }
}
