body {
  font-family: 'Roboto', 'Open Sans', -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}
