:root {
  --activ-color: #2196f3;
  --main-title-color: #212121;
  --discription-color: #757575;
  --text-white-color: #ffffff;
  --feature-color: #f5f4fa;
  --icon-color: #afb1b8;
  --transition-t-f: cubic-bezier(0.4, 0, 0.2, 1);
}
